site_name: MODE Collaboration
site_url: https://mode-collaboration.github.io/

theme:
  name: material
  language: en

  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode



  features:
    - content.tabs.link
    - content.code.annotate
    - content.code.copy
    - announce.dismiss
    - navigation.tabs
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.preview
    - navigation.instant.progress
    - navigation.path
    - navigation.sections
    - navigation.top
    - navigation.tracking
    - search.suggest
    - toc.follow
    - header.actions

  logo: logo.png
  favicon: logo.png

nav:
  - Home: index.md
  - News: news.md
  - Collaboration: collaboration.md
  - Events: events.md
  - Publications: publications.md
  - Workshops: workshops.md
  - Contacts: contacts.md

extra:
  social:
    - icon: fontawesome/brands/x-twitter
      link: https://twitter.com/MODECollaborat1
      name: MODE on X

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.magiclink
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra_css:
  - stylesheets/extra.css
